@page
@model RToora.DemoRazorPages.Web.Pages.Customer.IndexModel
@{
    ViewData["Title"] = "Customer";
}

<h1>Customer List</h1>

<a asp-page="Create">Create New</a>

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if(Model.Customers != null)
            {
                foreach (var customer in Model.Customers)
                {
                    <tr>
                        <td>@customer.Id</td>
                        <td>@customer.Name</td>
                        <td>
                            <!-- <snippet_Edit> -->
                            <a asp-page="./Edit" asp-route-id="@customer.Id">Edit</a> |
                            <!-- </snippet_Edit> -->
                            <!-- <snippet_Delete> -->
                            <button type="submit" asp-page-handler="delete" asp-route-id="@customer.Id">delete</button>
                            <!-- </snippet_Delete> -->
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</form>
