@page
@model RToora.DemoRazorPages.Web.Pages.Customer.IndexModel
@{
    ViewData["Title"] = "Customer";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Customers != null)
        {
            foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td>@customer.Name</td>
                    <td>
                        <!-- <snippet_Edit> -->
                        <a asp-page="./Edit" asp-route-id="@customer.Id">Edit</a>
                        <!-- </snippet_Edit> -->
                    </td>
                </tr>
            }
        }
    </tbody>
</table>